[submodule "node_modules/sqlite3"]
	path = node_modules/sqlite3
	url = https://github.com/developmentseed/node-sqlite3.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = https://github.com/documentcloud/underscore.git
